<div class="col-sm-12">

  <form class= "form-horizontal" role="form"
    action="actionurl" method="post"
    accept-charset="UTF-8">

    <div class="input-group">
      <span class="input-group-addon">Page Name</span>
      <input name="pagename" type="text" class="form-control"
        placeholder="The name of this page" value="" ></input>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Page Components</span>
      <input name="pagecomponents" type="text" class="form-control"
        placeholder="The Components of this page" value="" ></input>
    </div>

    <button type="submit" class="btn btn-default">SAVE</button>

  </form>

</div>
