<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css public/css/app.css -->
    <link rel="stylesheet" href="../styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="../styles/vendor/bootstrap-theme.css">
    <!-- endbuild -->
  </head>
  <body>
    <div id="admincontent"></div>
    <!-- build:js public/js/app.js -->
    <script src="../scripts/vendor/bootstrap.js"></script>
    <script src="../scripts/vendor/jquery.js"></script>
    <!-- endbuild -->
  </body>
</html>
