<div class="col-sm-12">

  <form class= "form-horizontal" role="form" action="/admin/update/page/"
    method="post" accept-charset="UTF-8">

    <div class="input-group">
      <span class="input-group-addon">Page Name</span>
      <input name="pagename" type="text" class="form-control" placeholder="The slug of this page" value="" >
    </div>

    <div class="input-group">
      <span class="input-group-addon">Description</span>
      <input name="desc" type="text" class="form-control" placeholder="The Description meta tag" value="" >
    </div>

    <div class="input-group">
      <span class="input-group-addon">Template</span>
      <input name="template" type="text" class="form-control" placeholder="The template used to render this page" value="" >
    </div>

    <div class="input-group">
      <span class="input-group-addon">Partial</span>
      <input name="partialtemplate" type="text" class="form-control" placeholder="The template this as partial" value="" >
    </div>

    <div class="input-group">
      <span class="input-group-addon">Title</span>
      <input name="title" type="text" class="form-control" placeholder="The Title meta tag of this page" value="" >
    </div>

    <div class="input-group">
      <span class="input-group-addon">Destination</span>
      <input name="receiver" type="text" class="form-control" placeholder="ID of HTML div element where this page will be inserted" value="" >
    </div>

    <div class="input-group">
      <span class="input-group-addon">Image</span>
      <input name="image" type="text" class="form-control" placeholder="Path to image (always without domain)" value="" >
    </div>

    <div class="input-group">
      <span class="input-group-addon">Page Content</span>
      <textarea name="pagecontent" class="form-control"  rows="4" cols="60" placeholder="Enter your HTML here" >
      </textarea>
    </div>

    <button type="submit" class="btn btn-default">SAVE</button>

  </form>
</div>

<div class="col-sm-offset-3 col-sm-3">
  <a href="fragmentslink" role="button" class="btn btn-primary btn-sm btn-block">Fragments</a>
</div>

<div class="col-sm-3">
  <a href="collectionslink" role="button" class="btn btn-default btn-sm btn-block">Collections</a>
</div>
